* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #3d51ff;
}

h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.container {
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
width: 100%;
height: 500px;
object-fit: cover;
display: block;
}

.btn-carousel {
    padding-top: 20px;
}